/****************Table Of Contents ******************
	01. Global Styles
	02. Typography
	03. Navbar
	04. Slideshow
	05. Call to Action
	06. Feature Image, Feature box, Short Feature
	07. Parallax Text
	08. Animated Counter
	09. Team
	10. Portfolio
	11. Feedback
	12. Client
	13. Contact & Comment Form
	14. Override
	15. Page Header
	16. 404 & Error Page
	17. Blog Page
	18. Blog Widget
	19. Footer
	20. Back to Top
*******************************************************/

/*Global Styles Start*/
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: black;
	line-height: 22px;
	background-color: whitesmoke;
}


.main-container {
	overflow: hidden;
}

a {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

a:hover {
	text-decoration: none;
}

.bg-color {
	background: #1589FF;
}
.text-center{
	text-align: center !important;
}
@media screen and (max-width: 767px) {
	.logo img {
		width: 70%;
	}
}
@media screen and (max-width: 600px){
	
	.counter-area.counter-area-style-two .single-counter {
		margin-bottom: 20px;
	}
	.counter-area.counter-area-style-two .single-counter :before {
		margin-left: 20px;
	}
	.navbar-brand{
		float: none !important;
	}	
	
	.counter-area.counter-area-style-two .single-counter {
		padding-bottom: 20px;
	}
	img.cnt {
		padding: 0px 70px 31px 75px;
	}
	.counter-area.counter-area-style-two .single-counter h2 {
		font-size: 20px;  
	}
	.counter-area.counter-area-style-two .single-counter h3 { 
		font-size: 10px !important;  
	}
	.counter-area.counter-area-style-two .single-counter .flaticon-experience:before {
		font-size: 40px !important;
	}
	.exp{
		border-left: 1px solid #dddddd;
	}
	.cus{
		border-left: 1px solid #dddddd;
	}
	.pro{
		border-left: 1px solid #dddddd;
	}
	.awd{
		border-left: 1px solid #dddddd;
	}
	.d-flex{
		font-size: 8px;
	}
	.sm-b-pad40 {
		padding-bottom: 5px !important;
	}
	.call-to-action h3 {
		font-size: 15px !important;
	}
	.pad60 {
		padding: 30px 0 !important;
	}
	.top{
		margin-top: 20px;
	}
	.col-lg-3.col-sm-6.col-xs-6 {
		padding-right: 0px !important;
	}
	.logo img {
		width: 60%;
		height: 60% !important;
	}
	img.footer-logo {
		height: 80px;
		padding-right: 10px;
	}

}

.mt20 {
	margin-top: 20px;
}

.mt40 {
	margin-top: 40px;
}

.mt-70 {
	margin-top: -70px;
}

@media screen and (max-width: 415px) {
	.mt-70 {
		margin-top: 0;
	}
}

.mb40 {
	margin-bottom: 40px;
}

.mb60 {
	margin-bottom: 60px;
}

.mb80 {
	margin-bottom: 80px;
}

.pad40 {
	padding: 40px 0;
}

@media screen and (max-width: 768px) {
	.sm-b-pad40 {
		padding-bottom: 40px;
	}
	.sm-b-pad80 {
		padding-bottom: 80px;
	} 
}

.pad60 {
	padding: 60px 0;
}

.pad80 {
	padding: 80px 0;
}

.pad100 {
	padding: 100px 0;
}

.pad200 {
	padding: 200px 0;
}

.t-pad60 {
	padding-top: 60px
}

.t-pad80 {
	padding-top: 80px
}

.b-pad80  {
	padding-bottom: 80px;
}

.header {
	/*background: #ffffff;*/
	background : #FFF;
	border: 1px solid #dddddd;
	/* height:145px; */
}

.btn {
	border-radius: 0;
	border: 0;
}

.fa-ul {
	margin-left: 0;
}

.fa-ul > li {
	margin: 15px 0;
}

.fa-ul > li > i {
	color: #1589FF;
	font-size: 15px;
	padding-right: 10px;
}

.title {
	color: #313131;
	font-size: 28px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
}

.title span {
	color: #1589FF;
}

.title:after {
	content: '';
	display: block;
	width: 70px;
	height: 3px;
	background: #1589FF;
	position: relative;
}

.t-center.title:after {
	margin: 20px auto 25px;
}

.t-left.title:after {
	margin: 20px 0 25px;
}

.t-right.title:after {
	margin: 20px 0 20px auto;
}

.parallax {
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.parallax.bgc {
	background-position: 50% 50%
}

.drk-bg {
	background: #232220;
}
.light-bg {
	background: #fafafa;
}
/*Global Styles End*/

/*Typography Start*/
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.text-highlight {
	font-size: 18px;
	line-height: 30px;
}
.t-left {
	text-align: left;
}

.t-center {
	text-align: center;
}

.t-right {
	text-align: right;
}

.btn-primary {
	padding: 12px 18px;
	text-transform: uppercase;
	background: #1589FF;
	color: #ffffff;
}

.btn-primary:hover {
	background: #1589FF;
}

.white-text {
	color: #ffffff;
}
/*Typography End*/

/*Navbar Start*/
.navbar {
	margin-bottom: 0;
}

@media screen and (min-width: 769px) {
	.navbar-nav {
		float: right;
	}
}

.navbar-nav > li > a {
    color: #272727;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-nav > li > a:hover,
.navbar-nav > li.active > a {
	color: #1589FF;
    text-decoration: none;
    background-color: transparent !important;
}

.navbar-nav > li > a:focus {
    background-color: transparent !important;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover,
.mega-dropdown-menu > li > ul > li.active > a,
.mega-dropdown-menu > li > ul > li.active > a:hover,
.mega-dropdown-menu > li > ul > li.active > a:focus {
	color: #1589FF;
	background: transparent;
}

@media (min-width: 768px) {
	.navbar-nav > li> a {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

.navbar-brand {
	padding: 0;
}

.dropdown.open > a {
	color: #1589FF;
	background-color: transparent;
}

.dropdown-menu {
	background: #272727;
}

@media screen and (max-width: 415px) {
	.dropdown {
		background: #272727;
	}
	.navbar-nav > li > a {
		color: #ffffff;
		margin-left: 15px;
	}
}

.dropdown-menu > li {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 1px solid #555;
	padding: 5px 0;
}

.dropdown-menu > li:last-child,
.dropdown-menu.mega-dropdown-menu > li {
	border-bottom: 0;
}

.dropdown-menu > li > a {
	color: #fff;
	text-transform: uppercase;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
	color: #1589FF;
	background: transparent;
}
.mega-dropdown {
	position: static !important;
}
.mega-dropdown-menu {
	padding: 20px 20px;
	width: 100%;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
	padding: 0;
	margin: 0;
}
.mega-dropdown-menu > li > ul > li {
	list-style: none;
	border-bottom: 1px solid #555;
	margin: 0 5px;
}
.mega-dropdown-menu > li > ul > li > a {
	display: block;
	color: #fff;
	padding: 5px 0px;
	text-transform: uppercase;
	font-size: 13px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
	color: #1589FF;
	text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
	font-size: 18px;
	color: #fff;
	padding: 5px 60px 5px 5px;
	line-height: 30px;
	text-transform: uppercase;
	border-bottom: 1px solid #555;
}

.carousel-control {
	width: 30px;
	height: 30px;
	top: -35px;

}
.left.carousel-control {
	right: 30px;
	left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
	font-size: 12px;
	background-color: #fff;
	line-height: 30px;
	text-shadow: none;
	color: #333;
	border: 1px solid #ddd;
}
.navbar-toggle {
	background: #1589FF;
}
.navbar-toggle .icon-bar {
	background: #ffffff;
}

.navbar-fixed-top {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

/* @-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
} */
/*Navbar End*/

/*Slideshow Start*/
.slide-title {
	color: #e60707;
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.slide-title.color {
	color: #1589FF;
}

.slide-border:after {
	content: '';
	display: block;
	width: 80px;
	height: 3px;
	background: #1589FF;
}

.slider-btn {
	padding: 12px 18px;
	text-transform: uppercase;
	background: #1589FF;
	color: #ffffff;
}

@media screen and (max-width: 767px) {
	.slider-btn {
		padding: 6px 9px;
		margin-top: 20px;
	}
}

.section-text {
	font-size: 23px;
	line-height: 39px;
	text-transform: uppercase;
}

.section-text:after {
	content: '';
	display: block;
	width: 80px;
	height: 2px;
	background: #1589FF;
	margin: 25px 0;
}
/*Slideshow End*/

/*Call To Action Start*/
.call-to-action {
	position: relative;
	z-index: 99;
}

.call-to-action h3 {
	color: #ffffff;
	font-size: 22px;
	text-transform: uppercase;
	margin-left: 40px;
	line-height: 22px;
	margin-top: 7px;
}

.borderleft:before {
	content: '';
	display: block;
	width: 2px;
	height: 30px;
	background: #ffffff;
	position: absolute;
	top: 0;
}

.ico-btn {
	color: #ffffff;
	font-size: 35px;
	line-height: 35px;
	margin: 0 0 0 50px;
	padding: 0;
}

.ico-btn:hover {
	color: #313131;
}
/*Call To Action End*/

.feature-top {
	padding: 80px 0;
}

/*Feature Image Start*/
.feature-img .img-wrap {
	position: relative;
	overflow: hidden;
	margin-bottom: 26px;
}

.feature-img .img-wrap .overley {
	position: absolute;
	text-align: center;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(246, 208, 20, 0.5);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.feature-img:hover .img-wrap .overley {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.feature-img .img-wrap .overley i {
	position: absolute;
	top: 50%;
	margin-top: -32px;
	margin-left: -25px;
	color: #ffffff;
	font-size: 24px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	width: 60px;
	height: 60px;
	background: #333333;
	border-radius: 100%;
	line-height: 60px;
}

.feature-img h4 {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 14px;
}

.feature-img h4 a {
	color: #313131;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.feature-img h4 a:hover {
	color: #1589FF;
}

.feature-img p {
	margin-bottom: 24px;
}

.feature-box-1 {
	position: relative;
}

.feature-box-1 img {
	float: left;
	margin-right: 20px;
}

.feaure-box-1 .f-content {
	float: left;
}

.feature-box-1 h4 {
	color: #313131;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 14px;
	text-transform: uppercase;
}

.feature-box-1 h4 a {
	color: #313131;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.feature-box-1 h4 a:hover {
	color: #1589FF;
}

.btn-learnmore {
	color: #777777;
	font-size: 13px;
	padding: 8px 22px;
	border: 1px solid #777777;
}
/*Feature Image End*/

/*Feature Box Start*/
.feature-box i:before {
	font-size: 70px;
	color: #777777;
	line-height: 70px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.feature-box:hover i:before {
	color: #1589FF;
}
.feature-box h4 {
	color: #313131;
	text-transform: uppercase;
	margin: 35px 0 25px;
}

/*Feature Box End*/

/*Short Feature Start*/
.short-feature .number {
	color: #1589FF;
	text-align: center;
	font-size: 30px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #1589FF;
	margin-right: 20px;
	background: #333;
}

.short-feature h4 {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 20px;
}

.short-feature p {
	font-size: 15px;
}
/*Short Feature End*/

/*Parallax Text Start*/
.parallax-text p {
	font-size: 17px;
    font-weight: 600;
}

.parallax-text h3 {
	font-size: 35px;
	line-height: 46px;
	text-transform: uppercase;
	margin: 35px 0 45px;
}
/*Parallax Text End*/

/*Animated Counter Start*/
.count-box {
	text-align: center;
}

.count-box .icon {
	clear: both;
	margin-bottom: 37px;
}

.count-box i:before {
	color: #1589FF;
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 60px;
}

.count-box .timer {
	font-size: 60px;
	color: #fff;
	text-align: center;
}

.count-box .timer:after {
	content: '';
	display: block;
	width: 70px;
	height: 2px;
	background: #1589FF;
	margin: 15px auto 25px;
}

.count-box h4 {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}
/*Animated Counter End*/

/*Team Start*/
.team-wrap {
	text-align: center;
	margin-top: 5px;
	border: 2px solid #ddd;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.team-wrap .team-img {
	position: relative;
	/*overflow: hidden;*/
	border-bottom: 2px solid #ddd;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.team-wrap h4 {
	font-size: 18px;
	color: #313131;
	line-height: 15px;
	margin: 20px 0 10px;
	text-transform: uppercase;
}

.team-wrap h4 a {
	color: #313131;
}

.team-wrap h4 a:hover {
	color: #1589FF;
}

.team-wrap p.designation {
	color: #1589FF;
	margin: 0 0 9px
}

.team-wrap p {
	margin-bottom: 16px;
}

.team-wrap:hover {
	border: 2px solid #1589FF;
}

.team-wrap:hover .team-img {
	border-bottom: 2px solid #1589FF;
}

.team-wrap .team-img .overley {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.team-wrap .team-img:hover .overley {
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.team-wrap .team-img .overley .team-social {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -84px;
	margin-top: -25px;
}

.team-wrap .team-img .overley .team-social a i {
	color: #ffffff;
	border: 1px solid #1589FF;
	width: 40px;
	height: 40px;
	line-height: 40px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.team-wrap .team-img .overley .team-social a:hover i {
	color: #ffffff;
	background: #1589FF;
	border: 1px solid #1589FF;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
/*Team End*/

/*Portfolio Start*/
.portfolio-nav ul {
	margin: 0;
	padding: 0;
}

.portfolio-nav li {
	color: #313131;
	margin: 15px 5px 38px 0;
	display: inline-block;
	padding: 8px 20px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

@media screen and (max-width: 767px) {
	.portfolio-nav li {
		padding: 4px 6px;
		margin: 5px 5px 5px 0;
	}
}

.portfolio-nav li:hover,
.portfolio-nav li.active {
	color: #313131;
	background: #1589FF;
}

.portfolio {
	width: 100%;
	overflow: hidden;
}

.portfolio .portfolio-item.col-2 {
	width: 50%;
	float: left;
}

.portfolio .portfolio-item.col-3 {
	width: 33.33%;
	float: left;
}

.portfolio .portfolio-item.col-4 {
	width: 25%;
	float: left;
}

@media screen and (max-width: 768px) {
	.portfolio .portfolio-item.col-3,
	.portfolio .portfolio-item.col-4 {
		width: 50%;
		float: left;
	}
}

@media screen and (max-width: 767px) {
	.portfolio .portfolio-item.col-2,
	.portfolio .portfolio-item.col-3,
	.portfolio .portfolio-item.col-4 {
		width: 100%;
		float: left;
	}
}

.portfolio .portfolio-item.col-4 img,
.portfolio .portfolio-item.col-3 img,
.portfolio .portfolio-item.col-2 img {
	width: 100%;
}

.portfolio .portfolio-item {
	position: relative;
	overflow: hidden;
}

.portfolio .portfolio-item .portfolio-overley {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.portfolio .portfolio-item:hover .portfolio-overley {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.portfolio .portfolio-item .portfolio-overley .content {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -50px;
}

.portfolio .portfolio-item .portfolio-overley .content h3,
.portfolio .portfolio-item .portfolio-overley .content h3 a {
	color: #fff;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.portfolio .portfolio-item .portfolio-overley .content h3 a:hover {
	color: #1589FF;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.portfolio .portfolio-item .portfolio-overley .content .portfolio-tags {
	color: #1589FF;
}
/*Portfolio End*/

/*Feedback Start*/
.feedback {
	margin-top: 6px;
	float: left;
}
.feedback-text {
	color: #313131;
	background: #f7f7f7;
	font-size: 15px;
	padding: 46px;
	border-left: 2px solid #1589FF;
	position: relative;
}

.feedback-text:after {
	content: '';
	position: absolute;
	border-style: solid;
	left: calc(80% - 10px);
	bottom: -10px;
	left: 90%;
	border-width: 10px 10px 0 10px;
	border-color: #F6D014 transparent transparent transparent;
}

.feedback h4 {
	color: #313131;
	text-align: right;
	text-transform: capitalize;
	margin: 15px 0 0;
}

.feedback p.designation {
	text-align: right;
	font-weight: 400;
	font-size: 13px;
}
/*Feedback End*/

/*Clients Start*/
.client-box ul {
	margin: 0;
	padding: 0;
}

.client-box li {
	text-align: center;
	margin: 10px 12px 7px 0;
	padding: 0;
	display: inline-block;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.client-box li:hover {
	border: 1px solid #1589FF;
}

.client-box li img {
	max-width: 160px;
	opacity: 0.7;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

@media screen and (max-width: 768px) {
	.client-box li img {
		max-width: 100px !important;
		opacity: 0.7;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
}

.client-box li:hover img {
	opacity: 1;
}
/*Clients End*/

/*Contact & Comment Form Start*/
label {
    font-weight: 400;
}

label > b {
    color: #ff0000;
    font-size: 18px;
}

.form-inline .form-control,
.form-control:focus {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
}

.contact-form h3,
.comment-form h3 {
    color: #32313b;
    font-size: 30px;
    font-weight: 400;
}
.contact-form .form-sec1,
.comment-form .form-sec1 {
    padding-bottom: 25px;
    float: left;
}

.contact-form .form-sec2,
.comment-form .form-sec2 {
    padding-bottom: 25px;
}

.contact-form .form-sec3,
.comment-form .form-sec3 {
    margin-top: 25px;
    float: left;
}

#success, #error {
    display:none
}
#success span, #erro span {
    display:block;
    position:absolute;
    top:0;
    width:100%
}
#success span p, #error span p {
    margin-top:6em
}
#success span p {
  color:#9bd32d;
}
#error span p {
  color:#c0392b;
}
/*Contact & Comment Form End*/

/*Overrides Start*/

/*Bootstrap Accordion Start*/
.panel {
	border:0;
	box-shadow: none;
}

.panel-heading {
	padding: 0;
}

.panel-title a, 
.panel-title a:focus {
    background-color: #1589FF;
    color: #fff;
    border: 0;
}

.panel-title a.collapsed, 
.panel-title a.collapsed:focus {
    background-color: #ffffff;
    color: #313131;
    border: 1px solid #ddd;
}

.panel-title a, 
.panel-title a:focus {
	font-size: 13px;
    position: relative;
    display: block;
    padding: 14px 60px 14px 22px;
    border: 1px solid #1589FF;
    background-color: #1589FF;
    color: #313131;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.panel-title a[aria-expanded="true"]:before {
    content: '\f107';
	font-family: fontawesome;
}

.panel-title a:before {
	content: '\f105';
	font-family: fontawesome;
	margin-right: 6px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.panel-body {
	font-family: "Open Sans", sans-serif;
	line-height: 19px;
}

.collapse {
    padding: 0;
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
	border:0;
}
/*Bootstrap Accordion End*/

/*Pricing Table Start*/
ul.pricing-table {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
    border: 1px solid #ddd;
    background: #fff;
}

ul.pricing-table li {
    position: relative;
    padding: 16px 4px;
    list-style: none;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul.pricing-table li:first-child {
    padding: 22px 0;
    background: #222;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

ul.pricing-table:hover li:first-child {
	color: #313131;
	background: #1589FF;
}

ul.pricing-table li h2 {
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

ul.pricing-table:hover li h2 {
	color: #313131;
}

ul.pricing-table li.price {
    padding: 30px 0 16px;
    border-bottom: 1px solid #1589FF;
    color: #313131;
    font-size: 24px;
    font-weight: 700;
}
/*Pricing Table End*/

/*Breadcrumb Start*/
.breadcrumb {
	text-align: right;
	background-color: transparent;
}

@media screen and (max-width: 768px) {
	.breadcrumb {
		text-align: center;
	}
}

.breadcrumb > li {
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.breadcrumb > li > a {
	color: #1589FF;
	font-size: 30px;
}

.breadcrumb > .active {
	color: #fff;
}
/*Breadcrumb End*/

/*Divider Start*/
.divider {
	margin: 30px 0;
}
.divider.solid {
	border: 1px solid #1589FF;
}
.divider.dashed {
	border: 1px dashed #1589FF;
}
.divider.dotted {
	border: 1px dotted #1589FF;
}
/*Divider End*/

/*Dropcap Start*/
.dropcap {
	float: left;
    width: 55px;
    height: 55px;
    margin: 7px 10px 0 0;
    padding: 6px 10px 0 16px;
    font-size: 40px;
    font-weight: 400;
	line-height: 40px;
}

.dropcap.square {
	color: #ffffff;
	background: #1589FF;
}

.dropcap.rounded {
	color: #ffffff;
	background: #1589FF;
	border-radius: 4px;
}

.dropcap.circle {
	color: #ffffff;
	background: #1589FF;
	border-radius: 100%;
}
/*Dropcap End*/

/*Pagination Start*/
.pagination > li > a,
.pagination > li > span {
    color: #1589FF;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #fff;
    background: #1589FF;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background: #1589FF;
    border-color: #ddd;
}
/*Pagination End*/

/*Overrides End*/

/*Page Header Start*/
.page-head {
	padding: 120px 0;
}
.page-head h2 {
	color: #ffffff;
    margin: 0;
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 700;
    line-height: 40px;
}
@media screen and (max-width: 768px) {
	.page-head {
		text-align: center;
		padding: 40px 0;
	}
	.mbs{
		height : 450px;
	}
}
/*Page Header End*/

/*404 & Offline Page Start*/
.info {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

.info h1 {
	color: #1589FF;
	font-size: 140px;
	font-weight: 700;
}

.info h2 {
	text-transform: uppercase;
	font-size: 48px;
	margin: 40px 0 20px;
}

.info .btn {
	margin-top: 40px;
}
/*404 & Offline Page End*/

/*Blog Page Start*/
.content-area article {
    margin-bottom: 40px;
}
.content-area .entry-header .post-thumbnail {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.content-area .entry-header .post-thumbnail .thumb-hover {
    display: block;
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    height: auto;
    opacity: 0;
}

.content-area .entry-header:hover .post-thumbnail .thumb-hover {
    opacity: 1;
}

.content-area .entry-header .post-thumbnail .thumb-hover .thumb-icon {
    position: absolute;
    top: -45px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    line-height: 41px;
    -wibkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-left: -20px;
    left: 50%;
}

.content-area .entry-header .post-thumbnail:hover .thumb-hover .thumb-icon {
    top: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.content-area .entry-header .post-thumbnail:hover .thumb-hover .thumb-icon a {
    color: #313131;
}

.content-area .entry-header .post-thumbnail:hover .thumb-hover .thumb-icon:hover a {
    color: #1589FF;
}

.content-area .entry-header img {
    width: 100%;
    overflow: hidden;
}
.content-area .entry-header h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 110%;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #ddd;
    margin: 0 0 20px;
}
.content-area .entry-header h2 a {
    color: #5c5c5c;
}

.content-area .entry-meta {
    margin-bottom: 15px;
}
.content-area .entry-meta span {
    display: inline-block;
    margin-right: 10px;
}
.content-area .entry-meta span i {
    margin-right: 5px;
    line-height: 20px;
}
.content-area .entry-meta span a {
    color: #959595;
}
.content-area .entry-meta span.tags ul {
    margin: 0;
}
.content-area .entry-meta span.tags ul li {
    list-style: none;
    margin: 0;
    padding: 0 5px 0 0;
    line-height: 1;
    display: inline-block;

}
.content-area .entry-content {
    clear: both;
}
.content-area .entry-footer {
    margin-top: 20px;
}

.author-box {
    margin-bottom: 50px;
}

.author-box h2 {
    font-size: 30px;
    color: #32313b;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 30px;
}

.author-box .author-avatar {
    width: 100px;
    height: 100px;
    border: 5px solid #ddd;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.author-box .author-avatar img {
    width: 100%;
}

.author-box .author-bio h3 {
    font-size: 20px;
    color: #32313b;
    font-weight: 400;
}

.comment-thread {
    margin-bottom: 50px;
}

.comment-thread h3 {
    color: #32313b;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.media h4 {
    color: #32313b;
    font-weight: 400;
}

.content-area .entry-header h2 a:hover {
    color: #1589FF;
    text-decoration: none;
}

.content-area .entry-meta span i {
    color: #1589FF;
}

.content-area .entry-meta span a:hover {
    color: #1589FF;
    text-decoration: none;
}

/*Blog Widget*/

.widget {
    margin-bottom: 50px;
    clear: both;
}

.widget-title {
    color: #32313b;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
}

.widget-title:after {
    content: "";
    background: #ececec;
    display: block;
    height: 1px;
    margin: 0 0 25px;
    position: relative;
    width: 100%;
}

.widget-title span:after {
    content: "";
    display: block;
    height: 5px;
    margin: 20px 0 -3px;
    position: relative;
    width: 15%;
    z-index: 1;
}

.widget_categories ul {
    margin: 0;
    padding: 0;
}
.widget_categories ul li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    list-style: none;
    border-bottom: 1px dashed #cecece;
}
.widget_categories ul li a {
    color: #959595;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.widget_categories ul li a:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 8px;
    padding-right: 20px;
}


.tagcloud a {
    font-size: 14px !important;
    float: left;
    color: #6a6a6a;
    border: 1px solid #aaa;
    padding: 5px 8px;
    border-radius: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

.itehmeslab-latest-post {
    margin: 0;
    padding: 0;
}
.itehmeslab-latest-post li {
    list-style: none;
}
.itehmeslab-latest-post li h4 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 0;
    line-height: 18px;
    margin-bottom: 4px;
}
.itehmeslab-latest-post li a {
    color: #959595;
}

.sidebar-gallery a img {
    width: 61px;
    height: 61px;
    margin: 0 1px 4px 0;
}

.widget_categories ul li a:hover{
    color: #1589FF;
}


.tagcloud a:hover {
    color: #fff;
    background: #1589FF;
    text-decoration: none;
	border: 1px solid #1589FF;
}

.itehmeslab-latest-post li a:hover {
    color: #1589FF;
}
/*Blog Page End*/

/*Footer Start*/
.footer {
	background: #1e344d;
	color: #BBBBBB;
	font-weight: 600;
	letter-spacing: 0.05em;
}

.f-title {
	color: #ffffff;
    font-size: 17px;
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
}

.f-title:after {
	content: '';
	display: block;
	width: 70px;
	height: 2px;
	background: #1589FF;
	position: relative;
	margin: 20px 0;
}

.footer-logo {
	margin-bottom: 18px;
}

.quick-links ul {
	margin: 0;
	padding: 0;
}

.quick-links li {
	margin: 0 0;
	padding: 4px 0;
	list-style: none;
	width: 50%;
	float: left;
}

.quick-links li a {
	color: #BBBBBB;
}

.quick-links li a:hover {
	color: #ffffff;
}

.quick-links li a:before {
	content: '\f105';
	font-family: fontawesome;
	display: block;
	float: left;
	margin-right: 10px;
}

.f-gallery img {
	width: 63px;
	margin: 4px;
	float: left;
}

.f-address p {
	margin-bottom: 18px;
}

.f-address p i {
	color: #1589FF;
	margin-right: 12px;
}

.copyright {
	background: #051835;
	border-top: 1px solid #333333;
	padding: 17px 0 10px;
}

.copyright a {
	color: #777777;
}

.copyright a:hover {
	color: #1589FF;
}
/*Footer End*/

/*Back to top start*/
.back-to-top {
    background: #1589FF;
    bottom: 15px;
    height: 40px;
    margin: 0;
    position: fixed;
    cursor: pointer;
    right: 15px;
    width: 40px;
    z-index: 1000;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}
.back-to-top.reveal {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.back-to-top.reveal:hover, 
.back-to-top.reveal:focus,
.back-to-top.reveal:active {
	background: #000;
}
.back-to-top i {
	color: #ffffff;
    left: 45%;
    margin-top: -12px;
    margin-left: -7px;
    position: absolute;
    top: 50%;
    font-size: 30px;
}


.card-columns {
    margin: 0 15px;
    column-gap: 30px;
}

.card-columns .card {
    margin-bottom: 30px;
}

.card {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 45px;
    border-radius: 10px;
    border: none;
    background-color: #1e344d;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.card.no-hover {
    background-color: transparent;
    box-shadow: none;
}

.odd:not(.custom) .card:not(.no-hover) {
    background-color: rgba(255, 255, 255, 0.035);
}

.card p {
    margin: 0 0 10px;
    white-space: pre-wrap;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}
.card h4{
	color: #ffffff;
	font-weight: 600;
}

.fa-ul > li > span {
color: #ffffff;
}

.card-img-top {
    border-radius: 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 35px 30px;
}

.card-body h3, .card-body h4, .card-body h5, .card-body h6 {
    margin-top: 0;
}

.card-footer {
    border-radius: 0;
    background: none;
    padding: 30px 0;
    margin: 0 30px;
    border-top: 1px solid var(--primary-l-color);
}

.card-footer a {
    margin: 0 10px;
}

.card-footer a:not(.btn) {
    line-height: 1.2;
    text-align: left;
    color: var(--primary-p-color);
}

.card-footer i {
    margin: 0 10px 2.5px 0;
}

.card.simple {
    box-shadow: none;
    background: none;
    padding: 0 2rem;
}

.card.simple:hover {
    background: none;
}

.card:not(.no-hover):hover {
    transform: translateY(-7.5px);
}

.sticky.card:not(.no-hover) {
    background: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
}

.masonry .card:not(.no-hover):hover {
    transform: translateY(0);
}

.card:not(.no-hover):hover:before,
.card:not(.no-hover):hover:after {
    opacity: 0;
}

.card:hover .image-person img {
    transform: scale(1.1);
}

.odd .card:not(.no-hover):hover h3,
.odd .card:not(.no-hover):hover h4,
.odd .card:not(.no-hover):hover p {
    color: var(--primary-bg-color);
}

.odd .card:not(.no-hover):hover span,
.odd .card.stycky:not(.no-hover) span {
    color: var(--primary-bg-color);
}

.odd .card:not(.no-hover):hover a,
.odd .card.sticky:not(.no-hover) a {
    color: var(--primary-bg-color);
}

.odd .card:not(.no-hover):hover i,
.odd .card.sticky:not(.no-hover) i {
    color: var(--primary-bg-color);
}

.odd .card:not(.no-hover):hover .icon,
.card.sticky:not(.no-hover) .icon {
    background-color: transparent;
    color: var(--primary-bg-color);
}

.odd.features .card:not(.no-hover):hover .icon {
    background-color: var(--primary-color);
}

.odd .card:hover .card-footer,
.odd .card.sticky .card-footer {
    color: var(--primary-bg-color);
    border-color: rgba(255, 255, 255, 0.25);
}

.odd .card:hover .btn-icon {
    opacity: 1;
    color: var(--primary-bg-color);
}

.odd .card:hover .share-list i {
    color: var(--primary-bg-color);
}

.showcase .card .card-body .badges {
    transform: translateY(100px);
}

.showcase .card:hover .card-body .badges {
    transform: translateY(0);
}

.card .badges a:first-child .badge {
    margin-bottom: 15px;
}

.card .badges .badge {
    width: 100%;
    margin: 0;
}

/*Back to top end*/

.feathers-area.feathers-area-style-two {
    background-image: unset;
}
.feathers-area {
    background-image: url(../img/feathers-bg.html);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

.feathers-area.feathers-area-style-two .container {
    background-color: #1589FF;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    margin-top: -60px;
    position: relative;
    z-index: 1;
	border-radius: 15px;
}

.feathers-area.feathers-area-style-two .container .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.feathers-area.feathers-area-style-two .single-feathers {
    text-align: center;
    padding: 30px;
        padding-bottom: 30px;
    position: relative;
    padding-bottom: 0;
}
/*.feathers-area.feathers-area-style-two .single-feathers {
    text-align: center;
}*/
.single-feathers {
    position: relative;
    padding-left: 85px;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    margin-bottom: 30px;
}
.feathers-area.feathers-area-style-two .single-feathers i {
    position: relative;
    display: inline-block;
    z-index: 1;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 15px;
}
.single-feathers i {
    color: var(--main-color);
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
}
.feathers-area.feathers-area-style-two .single-feathers h3 {
    color: #ffffff;
	font-weight: 600;
}
.feathers-area.feathers-area-style-two .single-feathers p {
    color: #ffffff;
	font-weight: 300;
}
.single-feathers h3 {
    color: var(--white-color);
    margin-bottom: 15px;
}

.feathers-area.feathers-area-style-two .single-feathers i::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ffdfd0),to(#ffffff));
    background-image: linear-gradient(#ffdfd0,#ffffff);
    z-index: -1;
    border-radius: 50%;
}
[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {

    font-family: Flaticon;
    font-size:  50px !important;
    font-style: normal;

}



.counter-area.counter-area-style-two {
    background-image: url(../images/counter-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
	margin-bottom: 25px
}
.pb-70 {
    padding-bottom: 70px;
}
.pt-100 {
    padding-top: 100px;
}
.counter-area.counter-area-style-two .single-counter i {
    color: #fff;
    font-size: 45px;
}
.single-counter i {
    font-size: 70px;
    color: var(--main-color);
    line-height: 1;
    color: var(--main-color);
    position: absolute;
    top: 7px;
    left: 0;
}
.counter-area.counter-area-style-two .single-counter .flaticon-experience:before {
    content: "\f10a";
	font-size: 65px !important;
}.counter-area.counter-area-style-two .single-counter .flaticon-customer-review:before {
    content: "\f109";
	font-size: 65px !important;
}.counter-area.counter-area-style-two .single-counter .flaticon-complete:before {
    content: "\f108";
	font-size: 65px !important;
}.counter-area.counter-area-style-two .single-counter .fflaticon-trophy:before {
    content: "\f107";
	font-size: 65px !important;
}
.counter-area.counter-area-style-two .single-counter h2 {
    color: #ffffff;
}
.counter-area.counter-area-style-two .single-counter h3 {
    color: #ffffff;
    font-size: 15px;
	padding-top: 20px;
	font-weight: 600;
}
.single-counter h2 {
    font-size: 40px;
    color: var(--main-color);
    line-height: 1;
}
.counter-area.counter-area-style-two::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1589FF;
    opacity: .9;
}

.counter-area.counter-area-style-two.container .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.counter-area.counter-area-style-two .single-counter {
    /*margin: 30px;*/
    padding-left: 80px;
    margin-top: 0;
}
.fa-level-up-alt:before {
    content: "\f3bf";
}
@media (min-width: 1400px){
.counter-area.counter-area-style-two .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
}
}

@media (min-width: 992px){
.justify-content-lg-between {
    justify-content: space-between !important;

}
}




/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {
	
}

 Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {

}

 Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {

}

 Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {
	
}*/
.navbar-nav li.active {
    border-bottom: 4px solid #1589FF;
}
.feature-img img{
	width: 100%;
    transform: scale(1);
    transition: all 0.6s ease-out 0s;
}
.feature-img:hover img{
	transform: scale(1.1);
}
.site-navbar-top {
    background-color: #00adef;
    border-bottom: 1px solid #ddd;
	height: 35px;
}
.navbar-fixed-top .site-navbar-top{
display:none;
}
.about_area .about_thumb {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}
.about_area .about_thumb img {
    width: 100%;
    box-shadow: 0 0 20px #ddd;
}
.about_area .about_thumb .pattern_img {
    position: absolute;
    top: -50px;
    left: -118px;
    z-index: -1;
}
.about_area .about_thumb .pattern_img1 {
    position: absolute;
    top: -50px;
    right: -118px;
    z-index: -1;
}
.about_area .about_thumb img {
    width: 100%;
    box-shadow: 0 0 20px #ddd;
}
section.counter-area.counter-area-style-two.pl-50.pt-100.pb-70.jarallax {
    margin-left: 70px;
}
.single-feathers{
    transform: scale(1);
    transition: all 0.6s ease-out 0s;
}
.single-feathers:hover{
	transform: scale(1.1);
}
